header 
  .header__container
    .header__logo
    a(href='/')
      img(src='/images/logo.svg', alt='Logo')
    .header__nav
    ul
      li
      a(href='/') Home
      li
      a(href='/about') About
      li
      a(href='/contact') Contact